<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body class="aboutus">
    <nav>
        <div class="left">
            <a href="/home">Home</a>
            <a href="/community">Community</a>
            <a href="https://sakhi-asd-prediction-system.streamlit.app/">Prediction</a>
        </div>
    </nav>
    <section class="about-hero">
        <h1>About Us</h1>
        <p>Empowering families and communities through predictive technology for autism spectrum disorder.</p>
    </section>
    
    <!-- Vision Section -->
    <section class="vision-mission">
        <div class="vision">
            <h2>Our Vision</h2>
            <p>To create a world where early diagnosis of autism spectrum disorder is accessible to everyone, ensuring
                timely interventions and better outcomes for children and their families.To empower families and medical professionals with a cost-effective, user-friendly, and reliable tool that aids in the
                early diagnosis of Autism Spectrum Disorder, fostering timely interventions and better developmental outcomes.</p>
        </div>
        <div class="mission">
            <h2>Our Mission</h2>
            <p>We are dedicated to harnessing the power of advanced AI and data-driven insights to empower families,
                caregivers, and healthcare professionals in identifying autism at its earliest stages.We aim to empower families, caregivers, and medical professionals with innovative tools that foster timely
                interventions, enabling children with ASD to achieve their fullest potential while creating a supportive and informed
                community.
</p>
        </div>
    </section>
    
    <!-- Impact Section -->
    <section class="impact">
        <h2>Our Impact</h2>
        <p>We simplify the identification process of ASD, enabling families to take action early and improve developmental
        outcomes.Our platform is designed for everyone, regardless of medical background, ensuring that every child gets the attention
        they need without barriers.By integrating behavioral, demographic, and medical data into a cohesive prediction tool, we raise awareness about the
        diverse factors influencing ASD.Through reliable, data-backed predictions, we provide a foundation for caregivers and professionals to collaborate on
        the best care strategies for each child.
        </p>
    </section>
    </body>
    
    </html>