<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup page</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body class="register">
    <div class="container">
        <div class="glass-card">
            <h1>CREATE ACCOUNT</h1>
            <form action="/signup" method="POST">
                <input type="text" name="username" placeholder="Enter Username" required>
                <input type="email" name="email" placeholder="Enter E-mail" required>
                <input type="password" name="password" placeholder="Enter Password" required>
                <button type="submit">Sign Up</button>
                <p>Already have an account? <a href="/login">Login here</a></p>
            </form>
        </div>
    </div>
</body>

</html>